.product__header {
  position: relative;
}

.product__img {
  width: 443px;
  height: 249px;
  border-radius: var(--radius);
  object-fit: cover;
}

.product__tag {
  width: 72px;
  height: 32px;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 12px 4px;
  border-radius: 4px;
  background-color: var(--color-1);
  color: var(--grey-3);
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__title {
  font-size: 29px;
}

.product__color {
  width: 28px;
  height: 28px;
  border: 2px solid var(--grey-0);
  border-radius: 50%;
}

.color-1 {
  background-color: var(--grey-0);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-1);
}

.size {
  width: 37px;
  height: 27px;
  font-size: 16px;
  background-color: var(--grey-2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
}

.product__price {
  font-size: 20px;
  display: flex;
  gap: 28px;
}

.product__price-original {
  color: var(--grey-1);
  text-decoration: line-through;
}

.product__butons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 32px;
}

.button__add-cart {
  background-color: var(--grey-0) !important;
  color: var(--grey-3) !important;
}

@media (max-width: 500px) {
  .product {
    padding: 32px 16px;
    margin: 10px;
    height: 697px;
  }

  .product__img {
    width: 95%;
  }

  .product__title {
    font-size: 20px;
  }

  .product__section-title {
    font-size: 16px;
  }

  .product__color {
    width: 21px;
    height: 21px;
  }

  .size {
    width: 35px;
    height: 25px;
    font-size: 14px;
  }

  .product__price {
    font-size: 16px;
  }

  .product__butons {
    margin-bottom: 32px;
  }

  .product__butons button {
    width: 100%;
  }
}
